ion-content{
    background-image:url("src/assets/night3.jpg") ;
    background-size : cover;
 
 }
 
p{
    font-family:  Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    font-size:90%;
    
    color:white;
    text-align: center;
    width:100%;

        
}
